@import url("https://fonts.googleapis.com/css2?family=Anton&family=Didact+Gothic&family=Inter&family=Lato:ital,wght@1,100&family=Poppins&family=Righteous&family=Work+Sans:ital,wght@1,200;1,900&display=swap");
@import "../../styles/_rediractes";

.sideMenu {
  position: fixed;
  width: rem(300);
  height: 100vh;
  right: -100%;
  display: flex;
  top: 0;
  flex-direction: column;
  background-color: #fff;
  padding: rem(20);
  opacity: 0.8;
  transition: 800ms;
}
.sideMenu.active {
  right: 0;
  transition: 950ms;
  -webkit-transition: 950ms;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  z-index: 111 !important;
  position: absolute;
}
.closeIcon {
  cursor: pointer;
  color: #171a20;
  align-self: end;
  transition: 0.5s ease;
  &:hover {
    transform: rotate(170deg);
  }
}
.hamburgerLinks {
  cursor: pointer;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: rem(24);
  padding: 15px;
  text-align: start;
  transition: 0.5 ease;
  -webkit-transition: 0.5 ease;
  border-radius: 0.5em;
  &:hover {
    background-color: #b3b7bd48;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 rem(2);
  position: fixed;
  top: 0;
  width: 100vw;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3x);
  z-index: 9009;
}
.teslaLogo {
  margin-right: rem(35);
  width: rem(130);
  cursor: pointer;
}
.navbarNav,
.menu {
  display: flex;
  gap: 5px;
  padding-left: unset;
  .items {
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    font-size: rem(14);
    font-weight: 600;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    border-radius: 10px;
    &:hover {
      background-color: #b3b7bd48;
    }
  }
}
.items > .itemsLink {
  color: #171a20;
}
.sideBarNav {
  padding-left: unset;
}

// @media screen and (max-width: 330px) {
//   .navbar {
//     align-items: baseline;
//     padding: 10px 0 0 0;
//     justify-content: space-around;
//   }
//   .navbarNav {
//     display: none;
//   }
//   .teslaLogo {
//     width: 90px;
//     margin-right: 0;
//   }
//   .items a {
//     font-size: 12px;
//   }

//   .btnMain {
//     display: inline-block;
//     padding: 100px 15px 0;
//   }
//   .btnMain > .btn {
//     width: 220px;
//     height: 35px;
//     font-size: 12px;
//   }
//   .btnMain > .btn:nth-child(2) {
//     margin: 5px 0 0;
//   }

//   .section {
//     height: 100vh;
//   }
//   .textsArea {
//     margin-top: 50px;
//   }
//   .textsArea > h3 {
//     font-size: 1.7rem;
//   }
//   .textsArea > p {
//     font-size: 14px;
//   }

//   .sideMenu {
//     width: 10rem;
//   }
// }
// responsive//
@media screen and(max-width:1024px) {
  .navbar {
    align-items: baseline;
    padding: 10px 0 0 0;
    justify-content: space-around;
  }
  .navbarNav {
    display: none;
  }
  .teslaLogo {
    width: 130px;
    margin-right: 0;
  }
  .items {
    font-size: 20px;
  }

  .section {
    height: 100vh;
  }
  .btnMain {
    display: inline-block;
    padding: 100px 15px 0;
  }
  .btnMain > .btn {
    width: 300px;
    height: 40px;
    font-size: 17px;
  }
  .btnMain > .btn:nth-child(2) {
    margin: 8px 0 0;
  }

  .textsArea {
    margin-top: 50px;
  }
  .textsArea > h3 {
    font-size: 2.5rem;
  }
  .textsArea > p {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    align-items: baseline;
    padding: 10px 0 0 0;
    justify-content: space-around;
  }
  .navbarNav {
    display: none;
  }
  .teslaLogo {
    width: 120px;
    margin-right: 0;
  }
  .items {
    font-size: 16px;
  }

  .btnMain {
    display: inline-block;
    padding: 100px 15px 0;
  }
  .btnMain > .btn {
    width: 260px;
    height: 40px;
    font-size: 15px;
  }
  .btnMain > .btn:nth-child(2) {
    margin: 8px 0 0;
  }

  .section {
    height: 110vh;
  }
  .textsArea {
    margin-top: 50px;
  }
  .textsArea > h3 {
    font-size: 2rem;
  }
  .textsArea > p {
    font-size: 16px;
  }
}

@media screen and (max-width: 470px) {
  .navbar {
    align-items: baseline;
    padding: 10px 0 0 0;
    justify-content: space-around;
  }
  .navbarNav {
    display: none;
  }
  .teslaLogo {
    width: 105px;
    margin-right: 0;
  }
  .items {
    font-size: 15px;
  }

  .btnMain {
    display: inline-block;
    padding: 100px 15px 0;
  }
  .btnMain > .btn {
    width: 225px;
    height: 40px;
    font-size: 14px;
  }
  .btnMain > .btn:nth-child(2) {
    margin: 5px 0 0;
  }

  .section {
    height: 100vh;
  }
  .textsArea {
    margin-top: 0;
  }
  .textsArea > h3 {
    font-size: 2rem;
  }
  .textsArea > p {
    font-size: 17px;
  }
}

@media screen and (max-width: 370px) {
  .navbar {
    align-items: baseline;
    padding: 10px 0 0 0;
    justify-content: space-around;
  }
  .navbarNav {
    display: none;
  }
  .teslaLogo {
    width: 100px;
    margin-right: 0;
  }
  .items a {
    font-size: 14px;
  }

  .btnMain {
    display: inline-block;
    padding: 85% 43px 0;
  }
  .btnMain > .btn {
    width: 220px;
    height: 35px;
    font-size: 13px;
  }
  .btnMain > .btn:nth-child(2) {
    margin: 5px 0 0;
  }

  .section {
    height: 100vh;
  }
  .textsArea {
    margin-top: 50px;
  }
  .textsArea > h3 {
    font-size: 1.9rem;
  }
  .textsArea > p {
    font-size: 14px;
  }
  .sideMenu {
    width: 150px !important;
  }

  .hamburgerLinks {
    font-size: 14px;
  }
}
@media screen and (max-width: 330px) {
  .navbar {
    align-items: baseline;
    padding: 10px 0 0 0;
    justify-content: space-around;
  }
  .navbarNav {
    display: none;
  }
  .teslaLogo {
    width: 90px;
    margin-right: 0;
  }
  .items a {
    font-size: 12px;
  }

  .btnMain {
    display: inline-block;
    padding: 100px 15px 0;
  }
  .btnMain > .btn {
    width: 220px;
    height: 35px;
    font-size: 12px;
  }
  .btnMain > .btn:nth-child(2) {
    margin: 5px 0 0;
  }

  .section {
    height: 100vh;
  }
  .textsArea {
    margin-top: 50px;
  }
  .textsArea > h3 {
    font-size: 1.7rem;
  }
  .textsArea > p {
    font-size: 14px;
  }
}
///
// SIDE BAR RESPONSIVE OPTION //
@media screen and (max-width: 501px) {
  .sideMenu {
    width: 170px !important;
  }

  .hamburgerLinks {
    font-size: 15px;
  }
}
