* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.buy {
  position: absolute;
  -webkit-mask: url(/icon/buy.svg);
          mask: url(/icon/buy.svg);
  -webkit-mask-position: center !important;
          mask-position: center !important;
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat !important;
          mask-repeat: no-repeat !important;
  width: 18px !important;
  height: 21px;
  left: 14px !important;
  top: 10px !important;
}

body {
  font-family: "Roboto Thin", sans-serif;
}

body nav {
  position: fixed;
  background: #ffffff;
  z-index: 1000;
  width: 100%;
}

body .navbar {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}

body .navbar .container-fluid {
  margin-top: 28px;
  margin-bottom: 15px;
}

body .navbar .container-fluid .collapse .navbar-nav {
  margin-left: 50px;
}

body .navbar .container-fluid .collapse .navbar-nav .nav-link {
  height: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.02em;
  margin-right: 30px;
}

body .navbar .container-fluid .collapse .navbar-nav .nav-link:hover {
  color: black;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-underline-offset: 28px;
}

body .navbar .container-fluid .part-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 470px;
}

body .navbar .container-fluid .part-icon img {
  margin-right: 55px;
  width: 24px;
  height: 24px;
}

body .navbar-brand {
  position: fixed;
  top: 20px;
  left: 48%;
  z-index: 10000;
}

body .navbar-brand img {
  width: 50px;
  height: 50px;
}

body header .container-fluid {
  position: absolute;
  margin-top: 69px;
  padding: 0;
}

body header .header-text {
  margin-top: 163px;
  margin-left: 50px;
}

body header .header-text h1 {
  width: 812px;
  height: 60px;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #ffffff;
  position: absolute;
  top: 161px;
}

body header .header-text h4 {
  width: 389px;
  height: 31px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: #ffffff;
  position: absolute;
  top: 231px;
}

body header .btn-shop {
  background: #ffffff;
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
  margin-left: 50px;
  margin-top: 62px;
  margin-bottom: 163px;
  position: absolute;
  top: 326px;
  padding: 17px 89px 17px 90px;
}

body header .btn-shop:hover {
  background: black;
}

body header .btn-shop:hover p {
  color: #ffffff;
}

body header .btn-shop p {
  width: 119px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 0;
}

body section {
  position: relative;
  top: 654px;
  padding: 0 121px;
}

body section .container .header-2title {
  padding-top: 50px;
  margin-left: 50px;
  margin-bottom: 40px;
}

body section .container .header-2title h1 {
  width: 396px;
  height: 48px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #000000;
}

body section .container .owl-carousel .pink-sneakaer {
  height: 450px;
  background: #ffffff;
}

body section .container .owl-carousel .pink-sneakaer img {
  width: 523px !important;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}

body section .container .owl-carousel .pink-sneakaer h6 {
  width: 176px;
  height: 26px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-top: 50px;
}

body section .container .owl-carousel .pink-sneakaer p {
  width: 112px;
  height: 17px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

body section .container .owl-carousel .pink-sneakaer .btn-shop {
  background: #ffffff;
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
  padding: 5px 37px 6px 37px;
  border: 1px solid darkgrey;
}

body section .container .owl-carousel .pink-sneakaer .btn-shop:hover {
  background: black;
}

body section .container .owl-carousel .pink-sneakaer .btn-shop:hover p {
  color: #ffffff;
}

body section .container .owl-carousel .pink-sneakaer .btn-shop p {
  width: 42px;
  height: 19px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 0;
}

body section .container .owl-carousel .grey-sneaker {
  height: 450px;
}

body section .container .owl-carousel .grey-sneaker img {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

body section .container .owl-carousel .grey-sneaker .grey-text {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  margin-left: 15px;
}

body section .container .owl-carousel .grey-sneaker .grey-text h6 {
  width: 179px;
  height: 26px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

body section .container .owl-carousel .grey-sneaker .grey-text p {
  width: 93px;
  height: 17px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

body section .container .owl-carousel .grey-sneaker .grey-text .btn-shop {
  background: #ffffff;
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
  padding: 6px 37px 6px 37px;
  border: 1px solid darkgrey;
  background: #000000;
}

body section .container .owl-carousel .grey-sneaker .grey-text .btn-shop:hover {
  background: black;
}

body section .container .owl-carousel .grey-sneaker .grey-text .btn-shop:hover p {
  color: #ffffff;
}

body section .container .owl-carousel .grey-sneaker .grey-text .btn-shop:hover {
  background: #ffffff;
}

body section .container .owl-carousel .grey-sneaker .grey-text .btn-shop:hover p {
  color: #000000 !important;
}

body section .container .owl-carousel .grey-sneaker .grey-text .btn-shop p {
  color: #ffffff !important;
}

body section .container .owl-carousel .grey-sneaker .grey-text .btn-shop p {
  width: 42px;
  height: 19px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 0;
}

body section .container .owl-carousel .white-sneaker {
  height: 450px;
}

body section .container .owl-carousel .white-sneaker img {
  width: 450px;
  height: 450px;
}

body section .container .owl-carousel .white-sneaker .grey-text {
  position: absolute;
  z-index: 10;
  bottom: 26px;
  margin-left: 15px;
}

body section .container .owl-carousel .white-sneaker .grey-text h6 {
  width: 176px;
  height: 26px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-top: -30px;
}

body section .container .owl-carousel .white-sneaker .grey-text p {
  width: 112px;
  height: 17px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

body section .container .owl-carousel .white-sneaker .grey-text .btn-shop {
  background: #ffffff;
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
  padding: 5px 37px 6px 37px;
  border: 1px solid darkgrey;
}

body section .container .owl-carousel .white-sneaker .grey-text .btn-shop:hover {
  background: black;
}

body section .container .owl-carousel .white-sneaker .grey-text .btn-shop:hover p {
  color: #ffffff;
}

body section .container .owl-carousel .white-sneaker .grey-text .btn-shop p {
  width: 42px;
  height: 19px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 0;
}

body section .container .owl-carousel .owl-nav {
  position: absolute;
  top: -89px;
  right: 0;
}

body section .container .owl-carousel .owl-nav:hover {
  background: #ffffff;
}

body section .container .owl-carousel .owl-nav button {
  -webkit-transform: scale(4);
          transform: scale(4);
  margin-left: 60px;
}

body section .container .sneakers-title h1 {
  width: 200px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin-top: 100px;
  margin-bottom: 41px;
}

body section .container .slider .owl-item {
  width: 289px;
  height: 349px;
}

body section .container .slider .sneakers {
  height: 349px;
}

body section .container .slider .sneakers .sneaker-text h6 {
  width: 151px;
  height: 21px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 20px;
}

body section .container .slider .sneakers .sneaker-price p {
  width: 92px;
  height: 29px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-left: 20px;
}

body section .container .slider .sneakers .sneaker-price span {
  position: absolute;
  background: #f6f6f6;
  border-radius: 50%;
  width: 46px !important;
  height: 46px;
  left: 180px;
  top: 249px !important;
}

body section .container .slider .sneakers .sneaker-price span:hover {
  background: #b4b8ac;
}

body section .container .owl-nav {
  display: block;
}

body section .container .sneakers-mobile {
  display: none;
}

body section {
  padding: 0 !important;
}

body section .container-fluid {
  padding: 0 !important;
}

body section .container-fluid .top-sneaker {
  margin-top: 100px;
}

body section .container-fluid .top-sneaker .section-4-text {
  top: 129px;
  left: 121px;
  position: absolute;
}

body section .container-fluid .top-sneaker .section-4-text h1 {
  width: 471px;
  height: 65px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 65px;
  color: #000000;
  margin-bottom: 15px;
}

body section .container-fluid .top-sneaker .section-4-text p {
  width: 145px;
  height: 31px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}

body section .container-fluid .top-sneaker .section-4-text .btn-shop {
  margin-top: 70px;
  background: #ffffff;
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
  padding: 15px 89px 5px 90px;
  background: #000000;
}

body section .container-fluid .top-sneaker .section-4-text .btn-shop p {
  width: 130px;
  height: 26px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

body section .container-fluid .top-sneaker .section-4-text .btn-shop:hover {
  background: black;
}

body section .container-fluid .top-sneaker .section-4-text .btn-shop:hover p {
  color: #ffffff;
}

body section .container-fluid .top-sneaker .section-4-text .btn-shop:hover {
  background: #ffffff;
}

body section .container-fluid .top-sneaker .section-4-text .btn-shop:hover p {
  color: #000000;
}

body section .container .row {
  margin-top: 188px;
}

body section .container .row .row-text {
  display: none;
}

body section .container .row .three-img .col-xl-4 p {
  width: 166px;
  height: 29px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 28px;
}

body section .container .row .three-img .view-all {
  display: none;
}

body section .container-fluid .little-boy {
  margin-top: 100px;
}

body section .container-fluid .little-boy-text {
  position: absolute;
  top: 0;
  left: 121px;
}

body section .container-fluid .little-boy-text h1 {
  width: 643px;
  height: 60px;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  margin-top: 136px;
}

body section .container-fluid .little-boy-text p {
  width: 424px;
  height: 31px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-top: 10px;
}

body section .container-fluid .little-boy-text .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
}

body section .container-fluid .little-boy-text .buttons .btn-shop {
  background: #ffffff;
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
  padding: 18px 50px;
  margin-right: 18px;
}

body section .container-fluid .little-boy-text .buttons .btn-shop:hover {
  background: black;
}

body section .container-fluid .little-boy-text .buttons .btn-shop:hover p {
  color: #ffffff;
}

body section .container-fluid .little-boy-text .buttons .btn-shop p {
  width: 124px;
  height: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 0;
  margin-top: 0;
}

body section .container .footer-info {
  border-bottom-style: inset;
  width: 100%;
}

body section .container .footer-info .row {
  margin-top: 94px;
}

body section .container .footer-info .row .col-3 a {
  text-decoration: none;
}

body section .container .footer-info .row .col-3 a p {
  color: #000000;
  height: 21px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}

body section .container .footer-info .row .col-3 a p:hover {
  color: #000000;
  opacity: 0.4;
}

body section .container .footer-info .row .col-3 a .join-puma {
  width: 105px;
  height: 26px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #000000;
}

body section .container .footer-info .row .col-12 .form-control {
  width: unset;
  border-radius: unset;
}

body section .container .footer-info .row .col-12 p {
  width: 270px;
  height: 52px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #000000;
}

body section .container .footer-info .row .col-12 button {
  position: -webkit-sticky;
  position: sticky;
  margin-top: -22% !important;
  margin-left: 84%;
}

body section .container .footer-info .row .row {
  margin-top: 17px;
}

body section .container .row {
  margin-top: 29px;
}

body section .container .row .col-2 img {
  margin-right: 11px;
}

body section .container .row .col-3 a {
  text-decoration: none;
}

body section .container .row .col-3 a .puma-grey {
  color: #000000;
  opacity: 0.4;
  width: 286px;
  height: 21px;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02em;
}

body section .container .row .row .six-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -59px;
}

@media (max-width: 500px) {
  body nav .navbar {
    padding: 0;
    margin-top: 24px;
  }
  body nav .navbar .container-fluid {
    margin: 0;
  }
  body nav .navbar .container-fluid button {
    padding-top: 5px;
    border-color: transparent;
    color: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  body nav .navbar .container-fluid button img {
    width: 15px;
    height: 13.3px;
  }
  body nav .navbar .container-fluid .collapse .navbar-nav {
    margin-left: 0;
  }
  body nav .navbar .container-fluid .collapse .navbar-nav .nav-link {
    margin-top: 15px;
    margin-bottom: 2px;
  }
  body nav .navbar .container-fluid .collapse .navbar-nav .nav-link:hover {
    text-underline-offset: 1px;
  }
  body nav .navbar .container-fluid .part-icon {
    display: none;
  }
  body .navbar-brand img {
    position: fixed;
    width: 34.17px !important;
    height: 28px;
    left: 190px;
    top: 20px;
  }
  body header .container-fluid img {
    height: 228px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body header .container-fluid .header-text {
    margin-top: 0;
  }
  body header .container-fluid .header-text h1 {
    width: 215px;
    height: 21px;
    left: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: -0.02em;
    color: #ffffff;
    top: 61px;
  }
  body header .container-fluid .header-text h4 {
    width: 180px;
    height: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: -0.02em;
    color: #ffffff;
    top: 90px;
    left: 30px;
    margin-top: 8px;
    padding-bottom: 28px;
  }
  body header .container-fluid .btn-shop {
    top: 132px;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    background: #ffffff;
    color: black;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 3px;
    width: 145px;
    height: 41px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 12px 38px !important;
  }
  body header .container-fluid .btn-shop:hover {
    background: black;
  }
  body header .container-fluid .btn-shop:hover p {
    color: #ffffff;
  }
  body header .container-fluid .btn-shop:hover {
    background: #000000;
  }
  body header .container-fluid .btn-shop:hover p {
    color: white;
  }
  body header .container-fluid .btn-shop p {
    width: 100px;
    height: 17px;
    left: 68px;
    top: 190px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: -0.02em;
    color: #000000;
  }
  body section {
    padding: 0;
    position: relative;
    top: 382px;
  }
  body section .container {
    padding: 0;
  }
  body section .container .header-2title {
    margin-left: 6%;
  }
  body section .container .header-2title h1 {
    width: 259px;
    height: 26px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }
  body section .container .owl-carousel .pink-sneakaer {
    width: 414px;
    height: 268px;
  }
  body section .container .owl-carousel .pink-sneakaer img {
    width: 472px !important;
    height: 191px;
  }
  body section .container .owl-carousel .pink-sneakaer h6 {
    width: 123px;
    height: 21px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-left: 30px;
  }
  body section .container .owl-carousel .pink-sneakaer p {
    width: 116px;
    height: 10px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 30px;
    margin-bottom: 25px;
  }
  body section .container .owl-carousel .pink-sneakaer .btn-shop {
    margin-left: 30px;
    padding: 8px 38px;
  }
  body section .container .owl-carousel .pink-sneakaer .btn-shop p {
    width: 25px;
    height: 11px;
    left: 69px;
    top: 625px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 9.52889px;
    line-height: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: capitalize;
    color: #000000;
  }
  body section .container .owl-carousel .grey-sneaker {
    width: 414px;
    height: 268px;
  }
  body section .container .owl-carousel .grey-sneaker img {
    width: 414px;
    height: 268px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }
  body section .container .owl-carousel .grey-sneaker .grey-text h6 {
    width: 123px;
    height: 21px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-left: 30px;
  }
  body section .container .owl-carousel .grey-sneaker .grey-text p {
    width: 116px;
    height: 10px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 30px;
    margin-bottom: 25px;
  }
  body section .container .owl-carousel .grey-sneaker .grey-text .btn-shop {
    margin-left: 28px;
    padding: 8px 38px;
  }
  body section .container .owl-carousel .grey-sneaker .grey-text .btn-shop p {
    width: 25px;
    height: 11px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 9.52889px;
    line-height: 11px;
    color: #000000;
  }
  body section .container .owl-carousel .white-sneaker {
    width: 414px;
    height: 268px;
  }
  body section .container .owl-carousel .white-sneaker img {
    width: 414px;
    height: 268px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }
  body section .container .owl-carousel .white-sneaker .grey-text {
    position: absolute;
    z-index: 10;
    bottom: 160px;
    margin-left: 15px;
  }
  body section .container .owl-carousel .white-sneaker .grey-text h6 {
    width: 123px;
    height: 21px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-left: 30px;
  }
  body section .container .owl-carousel .white-sneaker .grey-text p {
    width: 116px;
    height: 10px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 30px;
    margin-bottom: 25px;
  }
  body section .container .owl-carousel .white-sneaker .grey-text .btn-shop {
    margin-left: 28px;
    padding: 8px 38px;
  }
  body section .container .owl-carousel .white-sneaker .grey-text .btn-shop p {
    width: 25px;
    height: 11px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 9.52889px;
    line-height: 11px;
    color: #000000;
  }
  body section .container .owl-carousel .owl-nav {
    position: absolute;
    top: -89px;
    right: 0;
  }
  body section .container .owl-carousel .owl-nav:hover {
    background: #ffffff;
  }
  body section .container .owl-carousel .owl-nav button {
    -webkit-transform: scale(2);
            transform: scale(2);
    margin-left: -8px !important;
    margin-right: 30px;
  }
  body section .container .sneakers-title h1 {
    width: 113px;
    height: 26px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin: 69px 0 20px 30px;
  }
  body section .container .slider {
    display: none;
  }
  body section .container .sneakers-mobile {
    display: block;
  }
  body section .container .sneakers-mobile .sneakers {
    height: 388px !important;
    padding: 0 30px;
    position: relative;
  }
  body section .container .sneakers-mobile .sneakers img {
    width: 100%;
    height: 272px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body section .container .sneakers-mobile .sneakers .sneaker-text {
    width: 185px;
    height: 24px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-top: 20px;
    margin-left: 24px;
  }
  body section .container .sneakers-mobile .sneakers .sneaker-price p {
    width: 113px;
    height: 32px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 17px;
    margin-left: 24px;
  }
  body section .container .sneakers-mobile .sneakers span {
    position: absolute;
    background: #f6f6f6;
    border-radius: 50%;
    width: 46px !important;
    height: 46px;
    left: 80%;
    top: 312px !important;
  }
  body section .container .sneakers-mobile .sneakers span:hover {
    background: #b4b8ac;
  }
  body section .container .sneakers-mobile .sneakers span img {
    padding-top: 1px;
    padding-left: 1px;
    width: 18px !important;
    height: 21px !important;
  }
  body section .container .sneakers-mobile .view-all {
    padding: 0 20px;
    margin-top: 15px;
  }
  body section .container .sneakers-mobile .view-all button {
    background: #f6f6f6;
    border: none;
    width: 360px;
    height: 63px;
    font-style: normal;
    font-weight: normal;
    font-family: "Gloucester MT Extra Condensed";
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding: 21px 139px;
  }
  body section .container .sneakers-mobile .view-all button:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  body section .container-fluid .top-sneaker {
    margin-top: 69px !important;
  }
  body section .container-fluid .top-sneaker img {
    height: 230px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body section .container-fluid .top-sneaker .section-4-text {
    top: 57px;
    left: 35px;
  }
  body section .container-fluid .top-sneaker .section-4-text h1 {
    width: 208px;
    height: 26px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
  }
  body section .container-fluid .top-sneaker .section-4-text p {
    width: 78px;
    height: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  body section .container-fluid .top-sneaker .section-4-text .btn-shop {
    padding: 14px 36px;
    margin-top: 25px !important;
  }
  body section .container-fluid .top-sneaker .section-4-text .btn-shop p {
    width: 65px;
    height: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    margin-bottom: 0;
  }
  body section .container .row {
    margin-top: 70px;
  }
  body section .container .row .row-text {
    display: block;
  }
  body section .container .row .row-text h1 {
    width: 196px;
    height: 26px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  body section .container .row .three-img {
    display: unset !important;
  }
  body section .container .row .three-img .col-sm-12 {
    padding: 0 30px;
  }
  body section .container .row .three-img .col-sm-12 img {
    height: 454px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body section .container .row .three-img .col-sm-12 p {
    margin-top: 15px;
    width: 122px;
    height: 21px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
  body section .container .row .three-img .view-all {
    padding: 0 20px;
    margin-top: 15px;
    display: block;
  }
  body section .container .row .three-img .view-all button {
    background: #f6f6f6;
    border: none;
    width: 360px;
    height: 63px;
    font-style: normal;
    font-weight: normal;
    font-family: "Gloucester MT Extra Condensed";
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding: 21px 139px;
  }
  body section .container .row .three-img .view-all button:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  body section .container-fluid {
    position: relative;
  }
  body section .container-fluid .little-boy img {
    height: 230px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body section .container-fluid .little-boy-text {
    top: -77px;
    left: 30px;
  }
  body section .container-fluid .little-boy-text h1 {
    width: 257px;
    height: 24px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
  body section .container-fluid .little-boy-text p {
    width: 189px;
    height: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }
  body section .container-fluid .little-boy-text .buttons {
    margin-top: 30px;
  }
  body section .container-fluid .little-boy-text .buttons .btn-shop {
    padding: 14px 28px;
  }
  body section .container-fluid .little-boy-text .buttons .btn-shop p {
    width: 66px;
    height: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }
  body section .container .footer-info {
    display: none;
  }
  body section .container .row .footer-2 {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */